.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* container-type: inline-size; */
    background-color: #f7f9fa;
}

.brandWrapper {
    padding: 6.4rem;
    width: 100%;
}

.content {
    width: 100%;
    max-width: 100rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
    /* background-color: red; */
}

.brandWrapper h2 {
    color: #6a6f73;
    font-weight: 400;
    margin-bottom: 2.4rem;
    font-size: 1.5rem;
    max-width: 100%;
}

.brandContainer {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    margin-top: 10px;
}

.brand {
    display: flex;
    justify-self: center;
    align-items: center;
}

@media only screen and (max-width: 968px) {
    .brandContainer {
        grid-auto-flow: initial;
        grid-template-columns: repeat(4, 4fr);
        grid-gap: 1.6rem;
    }

    .brandWrapper {
        padding: 1rem 0.5rem;
        width: 100%;
    }

    .brandWrapper h2 {
        margin-bottom: 2rem;
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 600px) {
    .brandWrapper {
        padding: 1rem 0.1rem;
        width: 100%;
    }
}